{% extends 'base.html' %}

{% block content %}

  
<h3>Ivykdyti uzsakymai</h3>


{% csrf_token %}

<table border="1">
  <thead>
    <tr>
      <th>Vardas</th>
      <th>Pavarde</th>
      <th>El. pastas</th>
      <th>Marke</th>
      <th>Modelis</th>
      <th>Metai</th>
      <th>Spalva</th>
      <th>Pašalinti</th>

    </tr>
  </thead>
  <tbody>
    {% for klientas in klientai %}
    {% if klientas.ivykdytas == True %}
      <tr>

     

            <td><a href="{% url 'redagavimas' klientas.pk %}">{{ klientas.klientas_vardas }}</a></td>
            <td>{{ klientas.klientas_pavarde }}</td>
            <td>{{ klientas.klientas_email }}</td>
            <td>{{ klientas.marke }}</td>
            <td>{{ klientas.modelis }}</td>
            <td>{{ klientas.metai }}</td>
            <td>{{ klientas.spalva }}</td>
            <td>
      
           <a href="{% url 'pasalinimas' klientas.pk %}" class="btn btn-outline-danger btn-sm"> Pasalinti</a>
            </td>

   
     
      </tr>     
  {% endif %}
  {% empty %}
        <tr>
          <td colspan="7">No person in the database. <a href="{% url 'registracija' %}">Add the first person</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}