{% extends 'base.html' %}

{% block content %}

<h3>Registracija</h3>
<!--Register-->
<form method='post' id = 'personForm' novalidate> 
    {% csrf_token %}
  Vardas
  <input
    name="user_name"
    type="text"
    id="user_name"
    class="form-control"
    aria-describedby="user_nameBlock"
  />
  <br />
  Pavardė
  <input
    name="last_name"
    type="text"
    id="last_name"
    class="form-control"
    aria-describedby="last_nameBlock"
  />
  <br />
  
  <br />
  Elektroninis paštas
  <input
    name="email"
    type="email"
    id="Elektroninis paštas"
    class="form-control"
    aria-describedby="Elektroninis paštas"
  />
  <br />
   Automobilio markė
  <br />
  <select name="marke" id='marke' placeholder="Pasirinkti markę..." >
    {% for marke in listas %}
    <option>{{marke.marke}}</option>
    {% endfor %}
  </select> 
  <br />
  Automobilio modelis
  <select name="modelis"  id='modelis' placeholder="Pasirinkti modelį..">
  </select> 

  <br />
  Automobilio pagaminimo metai
  <select name="metai"  id='metai' placeholder="Pasirinkti metus..">
  </select>
  <br />
  Automobilio spalva
  <select name="spalva"  id='spalva' placeholder="Pasirinkti spalva..">
  </select>
  <br />
  <button type="submit" class="btn btn-primary">Registruotis</button>
</form>


<script>
    $("#marke").change(function () {
      
      const markeId = $(this).val();

      $.post('/persons/ajax/load-modeliai/', {
        'marke_id': markeId       // add the country id to the GET parameters
      },)
      .done(function( data ) {
        $("#modelis").html(data);
      });
    });


    
    
    $("#modelis").change(function () {
      
      const modelisId = $(this).val();  // get the selected country ID from the HTML input
  
        $.post('/persons/ajax/load-metais/', {
          'modelis_id': modelisId      // add the country id to the GET parameters
        },)
        .done(function( data ) {
          $("#metai").html(data);
        });
      });


    $("#modelis").change(function () {
      
      const modelisId = $(this).val();  // get the selected country ID from the HTML input

      $.post('/persons/ajax/load-spalvos/', {
        'modelis_id': modelisId       // add the country id to the GET parameters
      },)
      .done(function( data ) {
        $("#spalva").html(data);
      });
    });
    

</script>

{% endblock content %}